<!DOCTYPE html>
<html ng-app="ngCssPromiseDemo">

  <head>
    <link rel="stylesheet" href="style.css"/>
  </head>

  <body>
    <h1 ng-promise="singleTimeout">One $timeout Promise</h1>
    <button ng-click="startSingleTimeout()" ng-disabled="singleTimeout">Start</button>
    <button ng-click="stopSingleTimeout()" ng-disabled="!singleTimeout">Stop</button>

    <hr>

    <h1 ng-promise="singleInterval">One $interval Promise</h1>
    <button ng-click="startSingleInterval()" ng-disabled="singleInterval">Start</button>
    <button ng-click="stopSingleInterval()" ng-disabled="!singleInterval">Stop</button>

    <hr>

    <h1 ng-promise="arrayOfTimeouts">Array of $timeout Promises</h1>
    <button ng-click="startArrayOfTimeouts()" ng-disabled="arrayOfTimeouts">Start</button>
    <button ng-click="stopArrayOfTimeouts()" ng-disabled="!arrayOfTimeouts">Stop</button>

    <hr>

    <h1 ng-promise="arrayOfIntervals">Array of $interval Promises</h1>
    <button ng-click="startArrayOfIntervals()" ng-disabled="arrayOfIntervals">Start</button>
    <button ng-click="stopArrayOfIntervals()" ng-disabled="!arrayOfIntervals">Stop</button>

    <hr>

    <h1 class="object ng-promise">
        Object of $timeout Promises:
        <span class="first"
              ng-promise="objectOfTimeouts.first"
              ng-promise-options="ngPromiseOptions">First</span>

        <span class="second"
              ng-promise="objectOfTimeouts.second"
              ng-promise-options="ngPromiseOptions">Second</span>

        <span class="third"
              ng-promise="objectOfTimeouts.third"
              ng-promise-options="ngPromiseOptions">Third</span>
    </h1>
    <button ng-click="startObjectOfTimeouts()" ng-disabled="objectOfTimeouts">Start</button>
    <button ng-click="stopObjectOfTimeouts()" ng-disabled="!objectOfTimeouts">Stop</button>

    <hr>

    <h1 class="object ng-promise">
        Object of $interval Promises:
        <span class="first"
              ng-promise="objectOfIntervals.first"
              ng-promise-options="ngPromiseOptions">First</span>

        <span class="second"
              ng-promise="objectOfIntervals.second"
              ng-promise-options="ngPromiseOptions">Second</span>

        <span class="third"
              ng-promise="objectOfIntervals.third"
              ng-promise-options="ngPromiseOptions">Third</span>
    </h1>
    <button ng-click="startObjectOfIntervals()" ng-disabled="objectOfIntervals">Start</button>
    <button ng-click="stopObjectOfIntervals()" ng-disabled="!objectOfIntervals">Stop</button>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../angular-css-promise.js"></script>
    <script src="app.js"></script>
  </body>

</html>
