<!DOCTYPE html>
<html ng-app="ngPromiseDemo">

  <head>
    <script data-require="angular.js@1.4.3" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script data-require="angular-animate@1.4.3" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular-animate.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="../angular-promise.js"></script>
    <script src="app.js"></script>
  </head>

  <body>
    <button ng-click="singleTimeoutActive = true" ng-disabled="singleTimeoutActive">Start</button>
    <button ng-click="singleTimeoutActive = false" ng-disabled="!singleTimeoutActive">Stop</button>
    <h1 ng-promise="singleTimeout"
        ng-promise-animate-css-options="animateCssOptions">One Promise</h1>

    <button ng-click="arrayOfTimeoutsActive = true" ng-disabled="arrayOfTimeoutsActive">Start</button>
    <button ng-click="arrayOfTimeoutsActive = false" ng-disabled="!arrayOfTimeoutsActive">Stop</button>
    <h1 ng-promise="arrayOfTimeouts"
        ng-promise-animate-css-options="animateCssOptions">Array of Promises</h1>

    <button ng-click="objectOfTimeoutsActive = true" ng-disabled="objectOfTimeoutsActive">Start</button>
    <button ng-click="objectOfTimeoutsActive = false" ng-disabled="!objectOfTimeoutsActive">Stop</button>
    <h1 ng-promise="objectOfTimeouts"
        ng-promise-animate-css-options="animateCssOptions">
      <span ng-promised="first"
            ng-promise-animate-css-options="animateCssOptions">First</span>
      <span ng-promised="second">Second</span>
      <span ng-promised="third"
            ng-promise-animate-css-options="animateCssOptions">Third</span>
    </h1>
  </body>

</html>
