.body {
  color: black;
}

/* Default for single and array */
.ng-promise-pending {
  color: orange;
}

.ng-promise-resolved {
  color: lawngreen;
}

.ng-promise-resolved.ng-promise-settled {
  color: lightgreen;
}

.ng-promise-rejected {
  color: red;
}

.ng-promise-rejected.ng-promise-settled {
  color: palevioletred;
}

/* Customized Object */
.object .busy {
  color: orange;
}

.object .oops {
  color: red;
}

/* First */
.first.done {
  color: blue;
}

/* Second */
.second.done {
  color: darkblue;
}

/* Third */
.third.done {
  color: cyan;
}

/* Combined */
.object.first-done.second-done {
  background-color: darkseagreen;
}

.object.second-oops.third-oops {
  background-color: mediumvioletred;
}
