.body {
  color: black;
}

/* Default for single and array */
.ng-promise-pending {
  color: orange;
}

.ng-promise-notify {
  opacity: 0.1;
}

.ng-promise-resolved {
  color: lawngreen;
}

.ng-promise-resolved.ng-promise-settled {
  color: lightgreen;
}

.ng-promise-rejected {
  color: red;
}

.ng-promise-rejected.ng-promise-settled {
  color: palevioletred;
}

/* Object */
.object .busy {
  color: orange;
}

.object .oops {
  color: red;
}

/* First */
.first.done {
  color: blue;
}

/* First notify interval ticks */
.first.working-on-it-0 {
  background-color: #aaa;
  color: #fff;
}

.first.working-on-it-1 {
  background-color: #bbb;
  color: #eee;
}

.first.working-on-it-2 {
  background-color: #ccc;
  color: #ddd;
}

.first.working-on-it-3 {
  background-color: #ddd;
  color: #ccc;
}

.first.working-on-it-4 {
  background-color: #eee;
  color: #bbb;
}

/* Second */
.second.done {
  color: darkblue;
}

/* Third */
.third.done {
  color: cyan;
}

/* Second and third notify interval ticks */
.second.working-on-it,
.third.working-on-it {
  opacity: 0.2;
}

/* Mixed child promise states */
.object.first-done.second-done {
  background-color: darkseagreen;
}

.object.second-oops.third-oops {
  background-color: mediumvioletred;
}
